* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  background: white;
}
.navbar-header {
  position: relative;
  width: 30%;
}

.nav-menu {
  background: white;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.list {
  list-style: none;
  height: 100%;
}

.link {
  color: #9500ae;
  text-decoration: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
}

.link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -3px;
  background: #9500ae;
  transition: 0.4s;
}

.link:hover::before {
  width: 100%;
}

.menu-icon {
  display: none;
  font-size: 40px;
}

.logo {
  color: #9500ae;
  font-size: 40px;
  margin: 10px 20px;
}

.btn-primary {
  background: #9500ae;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}

.btn-primary:hover {
  background: #d500f9;
}

.btn-secondary {
  background: none;
  border: solid 1px #9500ae;
  padding: 9px 20px;
  color: #9500ae;
  text-decoration: none;
  transition: 0.4s;
}
.btn-secondary:hover {
  background: #9500ae;
  color: white;
}

.banner {
  display: flex;
  height: 100vh;
}

.bn-right {
  width: 50%;
  margin: 40px;
}

.bn-right img {
  height: 100%;
  width: 100%;
}
.bn-left {
  width: 50%;
  text-align: center;
  margin: 20px;
}

.bn-left h1 {
  color: #9500ae;
  margin-top: 100px;
  text-transform: uppercase;
}

.paragraph {
  padding: 20px;
  line-height: 30px;
  font-size: 0.9rem;
}

section {
  padding: 2rem;
}

.btn {
  margin: 0 10px;
}

.heading-light {
  font-size: 30px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.section-dark {
  background: #9500ae;
}

.p-light {
  color: white;
}

.heading-dark {
  font-size: 30px;
  color: #9500ae;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 10px;
}

footer {
  padding: 2rem;
  background: #9500ae;
}
.footer-container {
  display: flex;
}
.footer-text {
  width: 50%;
  padding: 20px;
}

.footer-icon {
  width: 50%;
  padding: 20px;
}

.footer-copy {
  text-align: center;
  color: white;
}

.icons {
  display: flex;
}

.icon {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 20px 20px 20px 0;
  border: solid 1px white;
  color: white;
  transition: 0.4s;
}

.icon:hover {
  background: white;
  color: #9500ae;
}

footer h1 {
  color: white;
  text-transform: uppercase;
}
footer p {
  padding: 20px 0px !important;
}

.icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 770px), (orientation: portrait) {
  nav {
    display: block;
    height: auto;
  }
  .navbar-header {
    height: 60px;
    width: 100%;
    background: #9500ae;
    z-index: 1;
    padding: 10px;
  }
  .nav-menu {
    position: absolute;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: center;
    padding-bottom: 10px;
    top: -100vh;
    transition: 0.4s linear;
  }

  .nav-menu.open {
    top: 55px;
  }

  .list {
    line-height: 40px;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    color: white;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    color: white;
    cursor: pointer;
  }

  .logo i,
  .menu-icon i {
    margin: 10px 30px;
  }
  .banner {
    flex-direction: column-reverse;
    height: auto;
  }

  .bn-left {
    width: 100%;
    margin: 0;
  }
  .bn-left h1 {
    margin-top: 15px;
  }
  .bn-right {
    width: 100%;
    height: 100%;
    margin: 40px 0 0 0;
  }

  .btn {
    display: block;
    margin: 10px;
  }

  .bn-button {
    margin-top: 20px;
  }

  .paragraph {
    padding: 0px;
    font-size: 0.8rem;
  }

  .footer-container {
    flex-direction: column;
  }
  .footer-text {
    padding: 10px;
    width: 100%;
  }
  .footer-icon {
    padding: 10px;
    width: 100%;
  }
}
